@import '../../../globals.scss';

@mixin linesAndPoints {
    &Inner{
        width:100%;
        bottom:0;
        &Number{
            >span{
                font-weight: 700;
                font-size:1.75rem;
            }
        }
        &Graphics{
            display: flex;
            align-items: center;
            flex-direction: column;
            &Circle{
                width:18px;
                height:18px;
                border:2px solid #000;
                border-radius: 50%;
                transform: translateY(55%);
                background-color: #fff;
            }
            &Line{
                border-top: 2px solid $temp-line-color;
                width:100%;
            }
        }
    }
}

.rightSectionContainer{
    position: relative;
    display:flex;
    overflow-x: scroll;
    cursor: grab;
    box-shadow: inset 0px 0 20px -10px #aaa, inset 0px 0 20px -10px #aaa;
    &:active {
        cursor: grabbing;
    }
    .hourlyItem{
        width:125px;
        >div{
            display:flex;
            justify-content: center;
            align-items: center;
            width:120px;
            border-right: 2px solid rgba($primary-color,0.1);
        }
        &__day{
            height: 34px;
            >span{
                font-weight: 600;
            }
        };
        &__hour{
            height: 60px;
            >span{
                font-weight:700;
                font-size:1.25rem;
            }
        };
        &__icon{
            height: 70px;
            >img{
                max-height: 85px;
            }
        };
        &__temperature{
            height: 220px;
            position:relative;
            align-items: flex-end !important;
            @include linesAndPoints();
        };
        &__rainfall{
            height: 120px;
            &Inner{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width:100%;
                height: 100%;
                &Number{
                    >span{
                        font-weight: 600;
                        font-size:1.25rem;
                    }
                }
                &Graphic{
                    background-color: $rain-color;
                }
            }

            
        };
        &__windDirection{
            height: 120px;
            background-color:rgba($primary-color,0.1);
            border-right:2px solid #fff !important;
            flex-direction: column;
            &Icon{
                margin:10px 0 20px;
                >img{
                    max-width:45px;
                }
            }
            &Text{
                font-weight:600;
            }
        };
        &__windSpeed{
            flex-direction: column;
            height: 100px;
            background-color:rgba($primary-color,0.1);
            border-right:2px solid #fff !important;
            &Text{
                font-weight:600;
            }
            &Number{
                font-weight:600;
                font-size: 1.25rem;
            }
        };
        &__pressure{
            height: 200px;
            align-items: flex-end !important;
            @include linesAndPoints();
            &Inner{
                &Number{
                    margin-bottom:10px;
                    >span{
                        font-size:1.25rem;
                    }
                }
                &Graphics{
                    &Line{
                        border-top: 2px solid #000;
                        width:100%;
                    }
                }
            }
        }
    }
}